
<ion-content padding>
  <div style="width:100%" style="text-align:center">
     <img width="40%"  src="assets/img/icono.png"/>
  </div>
    
  <ion-title color="secondary">  <h2 style="color:#52a780;text-align:center"  >Agrolink</h2>
    </ion-title>
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list>
      <ion-item style="border-color: white;">
        <ion-label floating>Usuario</ion-label>
        <ion-input type="text" name='username' ngModel required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" no-lines *ngIf="username.errors?.required && username.dirty">
        <p style="color:red">Usuario Requerido </p>
      </ion-item>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" name='password' ngModel required #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" no-lines *ngIf="password.errors?.required && password.dirty" >
       <p style="color:red" >Contraseña Requerida</p>
      </ion-item>

      <div padding>
        <button ion-button color="secondary" style="border: 1px green solid;" block type="submit" [disabled]="!form.valid">Entrar</button>
      </div>


    </ion-list>
  </form>
</ion-content>