<ion-header>
  <ion-toolbar  color="pesto-primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item color="pesto-primary" no-lines>
      <h2>{{rol}}</h2>
      <p>{{user}}</p>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content padding-top="15px" >
  <ion-list >

    <ion-card >
      <button ion-item text-wrap (click)="openPage(1)" *ngIf="auditor">
        <ion-thumbnail item-start>
          <img src="assets/imgs/forms.png">
        </ion-thumbnail>
        <h2 style="font-weight:bold">Formularios de Auditoría</h2>
        <p color="pesto-secondary-text">
          Ingrese para diligenciar los formularios de auditoría.
        </p>
      </button>
    </ion-card>

    <ion-card >
      <button ion-item text-wrap (click)="openPage(2)" *ngIf="promotor">
        <ion-thumbnail item-start>
          <img src="assets/imgs/foms2.png">
        </ion-thumbnail>
        <h2 style="font-weight:bold">Formulario de Promotoria</h2>
        <p color="pesto-secondary-text">
          Ingrese para realizar el diligenciamiento del formulario de promotoría.
        </p>
      </button>
    </ion-card>

    <ion-card>
      <button ion-item text-wrap (click)="openPage(3)">
        <ion-thumbnail item-start>
          <img src="assets/imgs/unidades.png">
        </ion-thumbnail>
        <h2 style="font-weight:bold">Unidades productivas asignadas</h2>
        <p color="pesto-secondary-text">

          Unidades productivas con sus respectivos detalles.
        </p>
      </button>
    </ion-card>
    <ion-card>
      <button ion-item text-wrap (click)="openPage(4)">
        <ion-thumbnail item-start>
          <img src="assets/imgs/enviar.png">
        </ion-thumbnail>
        <h2 style="font-weight:bold">Enviar Formularios</h2>
        <p color="pesto-secondary-text">
          Envió de formularios diligenciados
        </p>
      </button>
    </ion-card>

    <ion-card>
      <button ion-item text-wrap (click)="descargardatos()">
        <ion-thumbnail item-start>
          <img src="assets/imgs/sinc.png">
        </ion-thumbnail>
        <h2 style="font-weight:bold">Descargar Formularios</h2>
        <p color="pesto-secondary-text">
          Elimina datos existentes y recargar sistema.
        </p>
      </button>
    </ion-card>

    
    <ion-card *ngIf="promotor">
      <button ion-item text-wrap (click)="casoespecial()">
        <ion-thumbnail item-start>
          <img src="assets/imgs/especial.png">
        </ion-thumbnail>
        <h2 style="font-weight:bold">Casos Especiales</h2>
        <p>
          Crear una unidad productiva y llenar sus formularios.
        </p>
      </button>
    </ion-card>

  </ion-list>


</ion-content>