<ion-header  >
    <ion-toolbar class="cyan" color="secondary">
      <ion-title>
       No conformidad
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          Cerrar
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen >
      <ion-item *ngIf="up">
          <ion-label>Unidades para auditoria</ion-label>
      
          <ion-select multiple (ionChange)="comprobarunidades(1002,$event)">
            <div *ngFor="let categoria of up">
              <ion-option *ngIf="categoria.tipo==1002" [value]="categoria">{{categoria.nombre}}</ion-option>
              <ion-option *ngIf="categoria.tipo==1003" [value]="categoria">{{categoria.nombre}}</ion-option>
            </div>
      
          </ion-select>
      </ion-item>
      <ion-item *ngIf="up">
        <ion-label>Unidades para promotoria</ion-label>
      
        <ion-select multiple (ionChange)="comprobarunidades(1001,$event)">
          <div *ngFor="let categoria of up">
            <ion-option *ngIf="categoria.tipo==1001" [value]="categoria">{{categoria.nombre}}</ion-option>
            <ion-option *ngIf="categoria.tipo==1003" [value]="categoria">{{categoria.nombre}}</ion-option>
          </div>
      
        </ion-select>
      </ion-item>
       
<ion-item *ngIf="!up">
  No se ha iniciado ningun formulario
</ion-item>


 
     </ion-content>