<!--
  Generated template for the CasoespecialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="pesto-primary">
    <ion-title>Casos especiales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="caso == 1">
      <ion-list  style="margin-top:2%">
          <button ion-item  (click)="casoespecial()">
            <ion-icon name="leaf" item-start></ion-icon>
          <h3 style="font-weight:bold">Casos especiales</h3>
          <p>
            Esta seccion es reservada para crear nuevas unidades productivas, y llenar sus respectivas encuestas.
          </p>
        </button> 
          </ion-list>
  </div>
  <div *ngIf="caso == 2">
      <ion-list  style="margin-top:2%">
          <button ion-item  (click)="casoespecial()">
            <ion-icon name="leaf" item-start></ion-icon>
          <h3 style="font-weight:bold">Casos especiales</h3>
          <p>
            Esta seccion es reservada para crear nuevas unidades productivas, y llenar sus respectivas encuestas.
          </p>
        </button> 
          </ion-list>
  </div>

  <div *ngIf="caso == 3">
      <ion-list  style="margin-top:2%">
          <button ion-item  (click)="casoespecial()">
            <ion-icon name="leaf" item-start></ion-icon>
          <h3 style="font-weight:bold">Casos especiales</h3>
          <p>
            Esta seccion es reservada para crear nuevas unidades productivas, y llenar sus respectivas encuestas.
          </p>
        </button> 
          </ion-list>
  </div>
  <div *ngIf="caso == 4">
      <ion-list  style="margin-top:2%">
          <button ion-item  (click)="casoespecial()">
            <ion-icon name="leaf" item-start></ion-icon>
          <h3 style="font-weight:bold">Casos especiales</h3>
          <p>
            Esta seccion es reservada para crear nuevas unidades productivas, y llenar sus respectivas encuestas.
          </p>
        </button> 
          </ion-list>
  </div>



</ion-content>
