page-formularios {

.enunciadopregunta{
  color:cadetblue;
}
  .preguntastabla{
    width: 100%;
    }
    
    .divscroll{
      white-space: normal;
      overflow-x:scroll !important; table-layout: fixed;background-color:white;

    }
  .encabezadotabla{
    color:white;
    background-color:#26A69A;
    th{
      padding:10px; 
      border:0.4px solid rgba(0 , 0 , 0 , 0.09);
    }
  }  
    
  .cuerpotabla{
    td{
      padding:5px;border: 2px solid rgba(0, 0, 0, 0.08);
    }
  }

 
    .progress-outer {
        width: 96%;
        margin: 5px 2%;
        padding: 1px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 5%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, pesto-light);
    
 
}
      
}
