<ion-header>
  <ion-navbar color="pesto-primary">
    <div *ngIf="caso == 1">
      <ion-title>UNIDADES PARA AUDITORIA </ion-title>
    </div>
    <div *ngIf="caso == 2">
      <ion-title>UNIDADES PARA PROMOTORIA</ion-title>
    </div>
    <div *ngIf="caso == 3">
      <ion-title>Grupos - UNIDAD {{up}}</ion-title>
    </div>
    <div *ngIf="caso == 4">
      <ion-title>{{grupo}} - UNIDAD {{up}}</ion-title>
    </div>
    <div *ngIf="caso == 5">
      <ion-title>NO CONFORMIDADES - UNIDAD {{up}}</ion-title>
    </div>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-fab bottom right *ngIf="caso == 4" (click)="agregarnoconformidad(0)">
    <button ion-fab mini color="pesto-dark">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right *ngIf="caso == 5" (click)="agregarnoconformidad(0)">
    <button ion-fab mini color="pesto-dark">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="caso == 5">
    <button ion-item *ngFor="let item of items" (click)="agregarnoconformidad(item.id)">
      <h2>{{item.descripcion}}</h2>
      <p>{{item.detalle}}</p>
    </button>
  </div>

  <div *ngIf="caso < 3">
    <ion-item-divider text-wrap color="pesto-light">
      <h2>Unidades pendientes</h2>
      <p>Son aquellas en las que no se ha iniciado el llenado del formulario</p>
    </ion-item-divider>

    <div *ngFor="let item of items">
      <ion-card *ngIf="item.terminado === 0">
        <button ion-item (click)="mostrargrupos(item.tipo, item, item.productor )">
          <ion-row>

            <ion-col col-6 text-center> {{item.idUnidadProductiva}}
              <br>
            </ion-col>
            <ion-col col-6 text-center> {{item.nombre}}</ion-col>
            <ion-col col-6 text-center>
              <span> {{item.region}} </span>
            </ion-col>
            <ion-col col-6 text-center>
              <span> {{item.productor}} </span>
            </ion-col>
          </ion-row>
          <div class="progress-outer">
            <div class="progress-inner" [style.width]="item.porcentaje+'%'">
                {{item.porcentaje}} %
            </div>
        </div>
        </button>
      </ion-card>
    </div>
    <ion-item-divider text-wrap color="pesto-light">
      <h2>Unidades Iniciadas</h2>
      <p>Son aquellas en las que no se ha iniciado el llenado del formulario pero no se ha enviado al administrador</p>
    </ion-item-divider>
    <div *ngFor="let item of items">

      <ion-card *ngIf="item.terminado === 1" style="border-top:2px solid yellow">
        <button ion-item (click)="mostrargrupos(item.tipo, item, item.productor )">
          <ion-row>

            <ion-col col-6 text-center> {{item.idUnidadProductiva}}
              <br>
            </ion-col>
            <ion-col col-6 text-center> {{item.nombre}}</ion-col>
            <ion-col col-6 text-center>
              <span> {{item.region}} </span>
            </ion-col>
            <ion-col col-6 text-center>
              <span> {{item.productor}} </span>
            </ion-col>
          </ion-row>
          <div class="progress-outer">
            <div class="progress-inner" [style.width]="item.porcentaje+'%'">
                {{item.porcentaje}} %
            </div>
        </div>
        </button>
      </ion-card>
    </div>
    <ion-item-divider text-wrap color="pesto-light">
      <h2>Unidades enviadas</h2>
      <p>Son aquellas enviada, no se pueden editar</p>
    </ion-item-divider>

    <div *ngFor="let item of items">
      <ion-card *ngIf="item.terminado === 2" style="border-top:2px solid mediumseagreen">
        <button ion-item (click)="mostrargrupos(item.tipo, item, item.productor )">
          <ion-row>

            <ion-col col-6 text-center> {{item.idUnidadProductiva}}
              <br>
            </ion-col>
            <ion-col col-6 text-center> {{item.nombre}}</ion-col>
            <ion-col col-6 text-center>
              <span> {{item.region}} </span>
            </ion-col>
            <ion-col col-6 text-center>
              <span> {{item.productor}} </span>
            </ion-col>
          </ion-row>
          <div class="progress-outer">
            <div class="progress-inner" [style.width]="item.porcentaje+'%'">
                {{item.porcentaje}} %
            </div>
        </div>
        </button>
      </ion-card>
    </div>


  </div>
  <div *ngIf="caso == 3">
    <div *ngFor="let item of items">
      <ion-card>
        <button ion-item (click)="mostrarpreguntas(item.idgrupobase,item.nombre )">
          <ion-row text-wrap>
            <ion-col col-12 text-center>
              <h3>
                <strong>{{item.nombre}}</strong>
              </h3>

            </ion-col>
            <ion-col col-12 text-center>
              <h6>
                {{item.textoayuda}} </h6>
            </ion-col>
          </ion-row>
          <div class="progress-outer">
            <div class="progress-inner" [style.width]="item.porcentaje+'%'">
                {{item.porcentaje}} %
            </div>
        </div>

        </button>
      </ion-card>
    </div>

    <ion-card style="border-top:2px solid green" *ngIf="items" >
      <button ion-item (click)="abrirmapa(unidadproductiva)">
        <ion-row text-wrap>
          <ion-col col-12 text-center>
            <h3>
              <strong>Mapa unidad productiva</strong>
            </h3>

          </ion-col>
          <ion-col col-12 text-center>
            <h6>Aqui encontrara el mapa de la finca, en caso de no tenerlo registrado debera hacerlo.
            </h6>
          </ion-col>
        </ion-row>
      </button>
    </ion-card>

    <ion-card style="border-top:2px solid red" *ngIf="items" >
      <button ion-item (click)="noconformidades(unidadproductiva, tipo)">
        <ion-row text-wrap>
          <ion-col col-12 text-center>
            <h3>
              <strong>NO CONFORMIDADES</strong>
            </h3>

          </ion-col>
          <ion-col col-12 text-center>
            <h6>Son los problemas encontrados alo largo de la promotoria o auditoria, tambien encontramos no conformidades de
              periodos anteriores con el fin de cerrarlas o ver su avance.
            </h6>
          </ion-col>
        </ion-row>
      </button>
    </ion-card>
  </div>

  <div *ngIf="caso == 4">

    <div *ngFor="let item of final">
      <ion-item class="error-message" no-lines *ngIf="item.requerido==1">
        <p style="color:red">Pregunta requerida</p>
      </ion-item>
      <div *ngIf="item.tipo==3006">
        <!--etiqueta -->
        <ion-item no-lines>
          <ion-label class="enunciadopreguntas">{{item.enunciado}}</ion-label>
        </ion-item>
      </div>
      <div *ngIf="item.tipo==3003">
        <!--abierta -->
        <div *ngFor="let opciones of item.respuestas">
          <div *ngIf="opciones.tipo==210001">
            <!-- abiertas tipo datetime-->
            <div *ngIf="opciones.respuesta">
              <ion-item no-lines>
                <ion-label class="enunciadopregunta">
                  {{item.enunciado}}
                </ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" cancelText="Cancelar" doneText="Guardar" [(ngModel)]="opciones.respuesta" (ionChange)="guardarfecha(opciones, item.codigo, item.codigorespuesta, opciones.respuesta)"></ion-datetime>
              </ion-item>
            </div>
            <div *ngIf="!opciones.respuesta">
              <ion-item no-lines>
                <ion-label>{{item.enunciado}}</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" cancelText="Cancelar" doneText="Guardar" (ionChange)="guardarfecha(opciones, item.codigo, item.codigorespuesta, $event)"></ion-datetime>
              </ion-item>
            </div>
          </div>

          <div *ngIf="opciones.tipo==210002">
            <div *ngIf="opciones.respuesta">
              <ion-item text-wrap no-lines>
                <ion-label class="enunciadopregunta" floating>
                  {{item.enunciado}}
                </ion-label>
                <ion-input type="number" [(ngModel)]="opciones.respuesta" (change)="guardar3003(opciones, item.codigo, item.codigorespuesta, opciones.respuesta)"></ion-input>
              </ion-item>

            </div>
            <div *ngIf="!opciones.respuesta">
              <ion-item text-wrap no-lines>
                <ion-label class="enunciadopregunta" floating>{{item.enunciado}} </ion-label>
                <ion-input type="number" (change)="guardar3003(opciones, item.codigo, item.codigorespuesta,$event.target.value)"></ion-input>
              </ion-item>
            </div>

          </div>

          <div *ngIf="opciones.tipo==210003">
            <div *ngIf="opciones.respuesta">
              <ion-item text-wrap no-lines>
                <ion-label class="enunciadopregunta" floating>
                  {{item.enunciado}}
                </ion-label>
                <ion-input type="text" [(ngModel)]="opciones.respuesta" (change)="guardar3003(opciones, item.codigo, item.codigorespuesta, opciones.respuesta)"></ion-input>
              </ion-item>
            </div>
            <div *ngIf="!opciones.respuesta">
              <ion-item text-wrap no-lines>
                <ion-label class="enunciadopregunta" floating>{{item.enunciado}} </ion-label>
                <ion-input type="text" (change)="guardar3003(opciones, item.codigo, item.codigorespuesta,$event.target.value)"></ion-input>
              </ion-item>
            </div>
          </div>

          <div *ngIf="item.archivo===1">
            <a (click)="presentConfirm(item.codigo, item.codigorespuesta)" *ngIf="!opciones.ruta">Adjuntar Imagen</a>
            <ion-item *ngIf="opciones.ruta">
              <ion-avatar item-start>
                <img (click)="verimagen(rutaimg+'/'+opciones.ruta)" *ngIf="opciones.ruta" src="{{rutaimg+'/'+opciones.ruta}}" />
              </ion-avatar>

              <ion-grid>
                <ion-row>
                  <ion-col col-8>
                    <a (click)="presentConfirm(item.codigo, item.codigorespuesta)">cambiar imagen</a>
                  </ion-col>
                  <ion-col col-4>
                    <a (click)="eliminarimagen(item.codigo, item.codigorespuesta)">Eliminar</a>

                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-item>
          </div>

        </div>
      </div>

      <div *ngIf="item.tipo==3001">
        <!--seleccion nmultiple con unica respuesta -->
        <ion-item text-wrap no-lines>
          <ion-label class="enunciadopregunta">{{item.enunciado}}</ion-label>
          <ion-select (ionChange)="guardar3001($event, item.codigo ,item.codigorespuesta)" okText="Seleccionar" cancelText="Cancelar">
            <ion-option *ngFor="let opciones of item.respuestas" [value]="opciones" selected="{{opciones.respuesta}}">{{opciones.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="item.archivo===1">
          <div *ngFor="let opciones of item.respuestas;  let i = index">
            <div *ngIf="i==0">
              <a (click)="presentConfirm(item.codigo, item.codigorespuesta)" *ngIf="!opciones.ruta">Adjuntar Imagen</a>
              <ion-item *ngIf="opciones.ruta" no-lines>
                <ion-avatar item-start>
                  <img (click)="verimagen(rutaimg+'/'+opciones.ruta)" *ngIf="opciones.ruta" src="{{rutaimg+'/'+opciones.ruta}}" />
                </ion-avatar>

                <ion-grid>
                  <ion-row>
                    <ion-col col-8>
                      <a (click)="presentConfirm(item.codigo, item.codigorespuesta)">cambiar imagen</a>
                    </ion-col>
                    <ion-col col-4>
                      <a (click)="eliminarimagen(item.codigo, item.codigorespuesta)">Eliminar</a>

                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="item.tipo==3002">
        <ion-item text-wrap no-lines>
          <ion-label class="enunciadopregunta">{{item.enunciado}}</ion-label>
          <ion-select multiple="true" (ionChange)="guardar3002($event, item.codigo, item.codigorespuesta)">
            <ion-option *ngFor="let opciones of item.respuestas" [value]="opciones" selected="{{opciones.respuesta}}">{{opciones.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="item.archivo===1">
          <div *ngFor="let opciones of item.respuestas;  let i = index">
            <div *ngIf="i==0">
              <a (click)="presentConfirm(item.codigo, item.codigorespuesta)" *ngIf="!opciones.ruta">Adjuntar Imagen</a>

              <ion-item *ngIf="opciones.ruta" no-lines>
                <ion-avatar item-start>
                  <img (click)="verimagen(rutaimg+'/'+opciones.ruta)" *ngIf="opciones.ruta" src="{{rutaimg+'/'+opciones.ruta}}" />
                </ion-avatar>

                <ion-grid>
                  <ion-row>
                    <ion-col col-8>
                      <a (click)="presentConfirm(item.codigo, item.codigorespuesta)">cambiar imagen</a>
                    </ion-col>
                    <ion-col col-4>
                      <a (click)="eliminarimagen(item.codigo, item.codigorespuesta)">Eliminar</a>

                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-item>

            </div>
          </div>
        </div>

      </div>


      <div *ngIf="item.tipo==3004">
        <!--seleccion multiple unica respueista y abierta -->
        <ion-item no-lines>
          <ion-label class="enunciadopregunta">{{item.enunciado}}</ion-label>
          <ion-select (ionChange)="guardar3001($event, item.codigo, item.codigorespuesta)">
            <!--(ionChange)="onChange($event, preguntas.id)"-->
            <ion-option *ngFor="let opciones of item.respuestas" [value]="opciones" selected="{{opciones.respuesta}}">{{opciones.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let opciones of item.respuestas;  let i = index">
          <div *ngIf="i==0">
            <ion-item no-lines>
              <ion-input type="text" [(ngModel)]="opciones.observacion" placeholder="observacion" (change)="guardarobservacion( item.codigo, item.codigorespuesta,opciones.observacion )">
              </ion-input>
            </ion-item>
            <div *ngIf="item.archivo===1">
              <a (click)="presentConfirm(item.codigo, item.codigorespuesta)" *ngIf="!opciones.ruta">Adjuntar Imagen</a>
              <ion-item *ngIf="opciones.ruta" no-lines>
                <ion-avatar item-start>
                  <img (click)="verimagen(rutaimg+'/'+opciones.ruta)" *ngIf="opciones.ruta" src="{{rutaimg+'/'+opciones.ruta}}" />
                </ion-avatar>
                <ion-grid>
                  <ion-row>
                    <ion-col col-8>
                      <a (click)="presentConfirm(item.codigo, item.codigorespuesta)">cambiar imagen</a>
                    </ion-col>
                    <ion-col col-4>
                      <a (click)="eliminarimagen(item.codigo, item.codigorespuesta)">Eliminar</a>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </div>
        </div>

      </div>




      <div *ngIf="item.tipo==3005">
        <!--seleccion nmultiple con multiple respuesta y abierta -->
        <ion-item no-lines>
          <ion-label class="enunciadopregunta">{{item.enunciado}} </ion-label>
          <ion-select multiple="true" (ionChange)="guardar3002($event, item.codigo, item.codigorespuesta)">
            <!--(ionChange)="onChange($event, preguntas.id)"-->
            <ion-option *ngFor="let opciones of item.respuestas" [value]="opciones" selected="{{opciones.respuesta}}">{{opciones.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let opciones of item.respuestas;  let i = index">
          <div *ngIf="i==0">
            <ion-item text-wrap no-lines>
              <ion-input type="text" [(ngModel)]="opciones.observacion" placeholder="observacion" (change)="guardarobservacion( item.codigo, item.codigorespuesta,opciones.observacion )">
              </ion-input>
            </ion-item>
            <div *ngIf="item.archivo===1">
              <a (click)="presentConfirm(item.codigo, item.codigorespuesta)" *ngIf="!opciones.ruta">Adjuntar Imagen</a>

              <ion-item text-wrap no-lines *ngIf="opciones.ruta">
                <ion-avatar item-start>
                  <img (click)="verimagen(rutaimg+'/'+opciones.ruta)" *ngIf="opciones.ruta" src="{{rutaimg+'/'+opciones.ruta}}" />
                </ion-avatar>

                <ion-grid>
                  <ion-row>
                    <ion-col col-8>
                      <a (click)="presentConfirm(item.codigo, item.codigorespuesta)">cambiar imagen</a>
                    </ion-col>
                    <ion-col col-4>
                      <a (click)="eliminarimagen(item.codigo, item.codigorespuesta)">Eliminar</a>

                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>

          </div>

        </div>
      </div>


      <div *ngIf="item.tipo==3007">
        <ion-label class="enunciadopregunta">{{item.enunciado}}</ion-label>
        <!--tabla -->
        <div class="divscroll">
          <table class="preguntastabla">
            <tr class="encabezadotabla" *ngFor="let encabezado of item.encabezado">
              <th   *ngFor="let columnas of encabezado.columnas" [attr.rowspan]="columnas.rowspan" [attr.colspan]="columnas.colspan"> {{columnas.enunciado}}</th>
            </tr>
            <tr class="cuerpotabla" *ngFor="let preguntas of item.preguntas">
              <td *ngIf="preguntas.observacion==1">{{preguntas.enunciado}}</td>
              <td *ngFor="let respuestas of preguntas.respuesta" >
                <div *ngIf="respuestas.tipo==210000" align="left">
                  {{respuestas.constante}}
                </div>
                <ion-item *ngIf="respuestas.tipo==210001" align="center" no-lines>                  
                  <ion-datetime displayFormat="YYYY-MM-DD" cancelText="Cancelar" [(ngModel)]="respuestas.respuesta" doneText="Guardar" (ionChange)="guardarfechapadre(respuestas, item.codigo, preguntas.preguntaid, respuestas.respuesta)"></ion-datetime>
                </ion-item>
                <div *ngIf="respuestas.tipo==210002" align="center">
                  <ion-input type="number" [(ngModel)]="respuestas.respuesta" (change)="guardarpadre(respuestas, item.codigo, preguntas.preguntaid, respuestas.respuesta)"></ion-input>
                </div>
                <div *ngIf="respuestas.tipo==210003" align="center">
                  <ion-input type="text" [(ngModel)]="respuestas.respuesta" (change)="guardarpadre(respuestas, item.codigo, preguntas.preguntaid, respuestas.respuesta)"></ion-input>
                </div>
                <div *ngIf="respuestas.tipo==210004" align="center" >
                      <ion-checkbox [(ngModel)]="respuestas.respuesta"  (ionChange)="guardarpadre(respuestas, item.codigo, preguntas.preguntaid, respuestas.respuesta)"></ion-checkbox>
                </div>
              </td>
            </tr>
          </table>

        </div>

        
      </div>
      
      <hr>
    </div>

  </div>






</ion-content>