<img *ngIf="img" src="{{img}}" />

<ion-header *ngIf="items">
        <ion-toolbar color="pesto-primary">
         {{msj}}
        </ion-toolbar>
      </ion-header>


<ion-content fullscreen *ngIf="items">
    <ion-list>
        <ion-item text-wrap>
        </ion-item>
        <ion-item text-wrap *ngFor="let item of items">
            {{item}}
        </ion-item>
    </ion-list>
</ion-content>

  <ion-header *ngIf="caso == 3">
    <ion-toolbar color="pesto-primary">
      <ion-title>
        Mapa para la unidad {{unidad.nombre}}
    </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          Cerrar
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen  *ngIf="caso == 3">
<ion-card *ngIf="unidad.mapa">
    <img  src="{{'data:image/png;base64,'+unidad.mapa}}" />
</ion-card>
           <div padding>
            <button ion-button  block color="pesto-dark" (click)="escogerimagen()" >Actualizar Mapa</button>      
           
        </div>
      </ion-content>
 