<ion-header>
  <ion-toolbar color="pesto-primary">
    <ion-title>
      Tarea {{id}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Cerrar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form #form="ngForm" (ngSubmit)="guardartareanueva(form.value)" novalidate *ngIf="!editar">
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" name='nombre' [(ngModel)]="nombrea"  required #nombre="ngModel" [class.invalid]="nombre.errors && nombre.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" no-lines *ngIf="nombre.errors?.required && nombre.dirty">
      <p style="color:red">Nombre Requerido </p>
    </ion-item>

    <ion-item text-wrap>
      <ion-label stacked>Detalles</ion-label>
      <ion-textarea text-wrap type="text" rows="6" name='detalle' [(ngModel)]="descripciona" required #detalle="ngModel" [class.invalid]="detalle.errors && detalle.dirty">
        
      </ion-textarea>
    </ion-item>
    <ion-item class="error-message" no-lines *ngIf="detalle.errors?.required && detalle.dirty">
      <p style="color:red">Detalle Requerido </p>
    </ion-item>

    <ion-item>
      <ion-label floating>Encargado</ion-label>
      <ion-input type="text" name='encargado' [(ngModel)]="encargadoa" required #encargado="ngModel" [class.invalid]="encargado.errors && encargado.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" no-lines *ngIf="encargado.errors?.required && encargado.dirty">
      <p style="color:red">encargado Requerida </p>
    </ion-item>
    <ion-item text-wrap no-lines>
      <ion-label>
        Fecha Pautada de cierre
      </ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" cancelText="Cancelar" [(ngModel)]="fechaa" doneText="Guardar" min="{{fechaminima}}" max="{{fechamaxima}}"
        name="fecha" required #fecha="ngModel" [class.invalid]="fecha.errors && fecha.dirty"></ion-datetime>
    </ion-item>
    <ion-item class="error-message" no-lines *ngIf="fecha.errors?.required && fecha.dirty">
      <p style="color:red">Fecha pautada de cierre Requerida </p>
    </ion-item>

    <div padding>
      <button ion-button color="pesto-light" style="border: 1px green" block type="submit">GUARDAR</button>
    </div>

  </form>
  <ion-card *ngIf="editar">
      <ion-list-header style="font-size:1.7em">
          {{nombrea}}
        </ion-list-header>
    <ion-card-content>

      <ion-item>
        <h2><strong>No Conformidad Id</strong></h2>
        <h4>{{noconformidada}}</h4>
      </ion-item>

      <ion-item>
        <h2><strong>Fecha Pautada de cierre</strong></h2>
        <h4>{{fechaa}}</h4>
      </ion-item>
      <ion-item>
          <h2><strong>Fecha de cierre</strong></h2>
          <h4>{{fechadecierrea}}</h4>
        </ion-item>
              <ion-item>
          <h2><strong>Encargado</strong></h2>
          <h4>{{encargadoa}}</h4>
        </ion-item>


      <ion-item   text-wrap>
        <h2><strong>Descripción</strong></h2>
        <h3>{{descripciona}}</h3>
      </ion-item>

    </ion-card-content>
  </ion-card>



</ion-content>