<ion-header>
   <ion-navbar color="pesto-primary">
      <ion-title>Unidades Productivas</ion-title>
    <ion-buttons end >
      <button ion-button icon-only  (click)="showPrompt()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="promotor">

    <ion-list-header color="pesto-light">
      <ion-thumbnail item-start>
        <img src="assets/imgs/finca.png">
      </ion-thumbnail>
<h2>Unidades para promotoría</h2>
    </ion-list-header>

    <ion-list>
      <div *ngFor="let item of items">
        <div *ngIf="item.tipo==1001">

            <ion-card *ngIf="item.terminado === 0" >
                <ion-item-sliding>
                  <ion-item>
                    <ion-row>
                      <ion-col col-6 text-center>  {{item.idUnidadProductiva}}
                        <br>
                      </ion-col>
                      <ion-col col-6 text-center>  {{item.nombre}}</ion-col>
                      <ion-col col-6 text-center>
                        <span> {{item.region}} </span>
                      </ion-col>
                      <ion-col col-6 text-center>
                        <span> {{item.productor}} </span>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="pesto-secondary" (click)="abrirformulario(item)">
                      <ion-icon name="clipboard"></ion-icon>
                      Formulario
                    </button>
                    <button ion-button (click)="abrirdetalles(item)" color="pesto-primary">
                      <ion-icon name="eye"></ion-icon>
                      Detalles
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-card>
    

          <ion-card *ngIf="item.terminado === 1" style="border-top:2px solid yellow">
            <ion-item-sliding>
              <ion-item>
                <ion-row>
                  <ion-col col-6 text-center>  {{item.idUnidadProductiva}}
                    <br>
                  </ion-col>
                  <ion-col col-6 text-center>  {{item.nombre}}</ion-col>
                  <ion-col col-6 text-center>
                    <span> {{item.region}} </span>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <span> {{item.productor}} </span>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="pesto-secondary" (click)="abrirformulario(item)">
                  <ion-icon name="clipboard"></ion-icon>
                  Formulario
                </button>
                <button ion-button (click)="abrirdetalles(item)" color="pesto-primary">
                  <ion-icon name="eye"></ion-icon>
                  Detalles
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card>

          <ion-card *ngIf="item.terminado === 2" style="border-top:2px solid mediumseagreen">
            <ion-item-sliding>
              <ion-item>
                <ion-row>
                  <ion-col col-6 text-center>  {{item.idUnidadProductiva}}
                    <br>
                  </ion-col>
                  <ion-col col-6 text-center>  {{item.nombre}}</ion-col>
                  <ion-col col-6 text-center>
                    <span> {{item.region}} </span>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <span> {{item.productor}} </span>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="pesto-secondary"  (click)="abrirformulario(item)" >
                  <ion-icon name="clipboard"></ion-icon>
                  Formulario
                </button>
                <button ion-button (click)="abrirdetalles(item)" color="pesto-primary">
                  <ion-icon name="eye"></ion-icon>
                  Detalles
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card>

        </div>

      </div>
    </ion-list>
</div>
    <div *ngIf="auditor">

        <ion-list-header color="pesto-light">
            <ion-thumbnail item-start>
                <img src="assets/imgs/finca.png">
              </ion-thumbnail>
 <h2>
    Unidades para Auditoría
 </h2>
          </ion-list-header>
      <ion-list>
      <div *ngFor="let item of items">

        <div *ngIf="item.tipo==1002">
          <!--promotoria-->

          <ion-card *ngIf="item.terminado === 0" >
            <ion-item-sliding>
              <ion-item>
                <ion-row>
                  <ion-col col-6 text-center>  {{item.idUnidadProductiva}}
                    <br>
                  </ion-col>
                  <ion-col col-6 text-center>  {{item.nombre}}</ion-col>
                  <ion-col col-6 text-center>
                    <span> {{item.region}} </span>
                  </ion-col>
                  <ion-col col-6 text-center>
                    <span> {{item.productor}} </span>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="pesto-secondary" (click)="abrirformulario(item)">
                  <ion-icon name="clipboard"></ion-icon>
                  Formulario
                </button>
                <button ion-button (click)="abrirdetalles(item)" color="pesto-primary">
                  <ion-icon name="eye"></ion-icon>
                  Detalles
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card>

  

        <ion-card *ngIf="item.terminado === 1" style="border-top:2px solid yellow">
          <ion-item-sliding>
            <ion-item>
              <ion-row>
                <ion-col col-6 text-center>  {{item.idUnidadProductiva}}
                  <br>
                </ion-col>
                <ion-col col-6 text-center>  {{item.nombre}}</ion-col>
                <ion-col col-6 text-center>
                  <span> {{item.region}} </span>
                </ion-col>
                <ion-col col-6 text-center>
                  <span> {{item.productor}} </span>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="pesto-secondary" (click)="abrirformulario(item)">
                <ion-icon name="clipboard"></ion-icon>
                Formulario
              </button>
              <button ion-button (click)="abrirdetalles(item)" color="pesto-primary">
                <ion-icon name="eye"></ion-icon>
                Detalles
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>

        <ion-card *ngIf="item.terminado === 2" style="border-top:2px solid mediumseagreen">
          <ion-item-sliding>
            <ion-item>
              <ion-row>
                <ion-col col-6 text-center>  {{item.idUnidadProductiva}}
                  <br>
                </ion-col>
                <ion-col col-6 text-center>  {{item.nombre}}</ion-col>
                <ion-col col-6 text-center>
                  <span> {{item.region}} </span>
                </ion-col>
                <ion-col col-6 text-center>
                  <span> {{item.productor}} </span>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="pesto-secondary" (click)="abrirformulario(item)">
                <ion-icon name="clipboard"></ion-icon>
                Formulario
              </button>
              <button ion-button (click)="abrirdetalles(item)" color="pesto-primary">
                <ion-icon name="eye"></ion-icon>
                Detalles
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>

        </div>


      </div>
</ion-list>
    </div>





</ion-content>